[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "angstromATE"]
	path = angstromATE
	url = https://github.com/thomasgredig/angstromate
